openapi: 3.0.4
info:
  title: AIR ImmSoT API
  description: |-
    This API provides the ability to create, modify and retrieve Immunisation records
    from the AIR ImmSoT database. It also allows reading and updating consumer records.

    **API Versioning:**
    - Internal Health NZ consumers call `https://air.api.digital.health.nz/fhir/R4`.
      Omit `APIVersion` header (or set `APIVersion=1`) for v1; set `APIVersion=2` for v2.
    - External consumers call `https://api.air.digital.health.nz/s2s/fhir/R4` (v1)
      or `https://api.air.digital.health.nz/s2s/fhir/R4/v2` (v2).
      Both external paths are gateway routes that forward to the internal `/fhir/R4` backend.

    Generated from `capabilitystatement.fsh` v2.1.0. Do not edit this file manually.
  version: 2.1.0
  contact:
    name: Health New Zealand | Te Whatu Ora
    url: https://www.tewhatuora.govt.nz/
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://air.api.digital.health.nz
    description: PROD – Internal Health NZ endpoint. /fhir/R4 with APIVersion omitted or =1 uses v1; APIVersion=2 uses v2.
  - url: https://api.air.digital.health.nz/s2s
    description: PROD – External endpoint. /fhir/R4 → v1; /fhir/R4/v2 → v2.
  - url: https://air.api-uat.digital.health.nz
    description: UAT – ImmSoT Service endpoint
  - url: https://air.api-sit.digital.health.nz
    description: SIT – ImmSoT Service endpoint
  - url: https://air.api-dev.digital.health.nz
    description: DEV – ImmSoT Service endpoint
paths:
  /fhir/R4/Immunization:
    post:
      operationId: create
      tags:
        - Immunization
      summary: Create a new immunisation event
      description: >-
        Creates a new immunisation event after validation. Returns the created Immunization record or an
        OperationOutcome on failure.
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/AirImmunization'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.c
  /fhir/R4/Immunization/{ID}:
    get:
      operationId: read
      tags:
        - Immunization
      summary: Read an immunisation event by ID
      description: Returns the immunisation event and enriched related resources (Patient, Organization, Practitioner, Location).
      parameters:
        - $ref: '#/components/parameters/ID'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OrchestrationImmunizationBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.r
    put:
      operationId: update
      tags:
        - Immunization
      summary: Update an existing immunisation event
      description: Updates an existing immunisation event. Returns the updated record or an OperationOutcome.
      parameters:
        - $ref: '#/components/parameters/ID'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
        - $ref: '#/components/parameters/If-Match'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/AirImmunization'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.u
        - OAuth2:
            - air-admin/Immunization.u
  /fhir/R4/Immunization/_search:
    post:
      operationId: search
      tags:
        - Immunization
      summary: Search for immunisation events
      description: >-
        Two search modes are available:


        **Standard NHI search** – POST with `application/x-www-form-urlencoded` body or query parameters.

        The `patient` parameter is required. Optional: `target-disease`, `status-reason:not-in`, `status:not-in`,
        `_include`.


        **Data-quality admin search** – Requires `_query=data-quality`, `_lastUpdated`, `_offset`, `_count`.

        Restricted to `air-admin/Immunization.s` scope.


        Do **not** send a JSON body for `_search`.
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
        - name: patient
          in: query
          required: false
          description: >-
            NHI identifier or full Patient reference URL. E.g. `ZKN2155` or
            `https://api.hip.digital.health.nz/fhir/nhi/v1/Patient/ZKN2155`.
          schema:
            type: string
        - name: _query
          in: query
          description: Set to `data-quality` to invoke the admin data-quality search.
          schema:
            type: string
            enum:
              - data-quality
        - name: _lastUpdated
          in: query
          description: Data-quality search only. Use `eq`, `ge`, or `le` prefix. E.g. `ge2023-05-11T00:25:20.641Z`.
          schema:
            type: string
        - name: _offset
          in: query
          description: 'Data-quality search only. Records to skip. Default: 0.'
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: _count
          in: query
          description: 'Data-quality search only. Records to return (1–100). Default: 100.'
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: _includeMigratedData
          in: query
          description: 'Data-quality search only. Include migrated data. Default: `false`.'
          schema:
            type: string
            example: 'true'
        - name: _include
          in: query
          description: 'Include related resources. Supported: `Patient`, `Immunization:performer`, `Immunization:location`.'
          schema:
            type: string
          example: Patient
        - name: _dqStatus
          in: query
          description: 'Data-quality search only. Filter by DQ status. Allowed: `I` (Identified), `A` (Accepted), `P` (Passed).'
          schema:
            type: string
            example: I,A
        - name: target-disease
          in: query
          description: Standard search only. Filter by target disease (system|code). Comma-separated.
          schema:
            type: string
        - name: status-reason:not-in
          in: query
          description: Standard search only. Exclude events with these status reasons (system|code or bare code). Comma-separated.
          schema:
            type: string
        - name: status:not-in
          in: query
          description: >-
            Standard search only. Exclude events with these statuses. Allowed: `entered-in-error`, `completed`,
            `not-done`.
          schema:
            type: string
        - name: status
          in: query
          description: 'Data-quality search only. Include only events with these statuses. Default: all.'
          schema:
            type: string
            example: entered-in-error,completed
      requestBody:
        required: false
        description: Optional form body for NHI search parameters. Use `application/x-www-form-urlencoded` — do not send JSON.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
            example:
              patient: ZZZ9999
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OrchestrationImmunizationBundle'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.s
        - OAuth2:
            - air-admin/Immunization.s
  /fhir/R4/Immunization/{ID}/$match:
    post:
      operationId: match
      tags:
        - Immunization
      summary: Manually match an immunisation event to a planned event
      description: |-
        **POST** `[base]/Immunization/{ID}/$match`

        Manually matches an immunisation event to a planned event in the consumer's vaccination schedule.

        Request body: FHIR Parameters with `version` (string), `plannedEventId` (string), and `reason.code` (string).

        **Required scope:** `system/Immunization.c` + `system/Immunization.u`

        **Responses:** `200 OK` (Bundle), `400`, `403`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/ID'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/ManualMatching'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirImmunizationBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.c
            - system/Immunization.u
  /fhir/R4/Immunization/{ID}/$unmatch:
    post:
      operationId: unmatch
      tags:
        - Immunization
      summary: Manually unmatch an immunisation event from a planned event
      description: |-
        **POST** `[base]/Immunization/{ID}/$unmatch`

        Manually unmatches an immunisation event from a planned event.

        Request body: same structure as `$match` with an unmatch reason code.

        **Required scope:** `system/Immunization.c` + `system/Immunization.u`

        **Responses:** `200 OK` (Bundle), `400`, `403`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/ID'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/ManualMatching'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirImmunizationBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.c
            - system/Immunization.u
  /fhir/R4/Immunization/{ID}/_history:
    get:
      operationId: history
      tags:
        - Immunization
      summary: Retrieve all versions of an immunisation event
      description: Returns a FHIR history Bundle where each entry is a full Immunization snapshot including data-quality metadata.
      parameters:
        - $ref: '#/components/parameters/ID'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirImmunizationBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.r
        - OAuth2:
            - air-admin/Immunization.r
  /fhir/R4/Immunization/$bulk-update:
    post:
      operationId: $bulk-update
      tags:
        - Immunization
      summary: Bulk create/upsert immunisation events (atomic)
      description: >-
        **POST** `[base]/Immunization/$bulk-update`


        Atomic bulk create/upsert of immunisation events. Request body is a FHIR Parameters resource
        (`application/x-www-form-urlencoded`).


        Each parameter entry has name `create` or `upsert` with a contained Immunization resource:

        - `create` → always creates a new event

        - `upsert` → applies the same matching algorithm as `$upsert`


        The entire operation is atomic: if any event fails, the whole request is rejected.


        **Required scope:** `system/Immunization.c` + `system/Immunization.u`


        **Responses:** `200 OK` (Parameters resource with `created`/`updated` entries), `400`, `403`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        description: FHIR Parameters resource containing `create` and/or `upsert` entries.
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkUpdateInputParameter'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/BulkUpdateOutputParameter'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.c
            - system/Immunization.u
  /fhir/R4/Immunization/$upsert:
    post:
      operationId: $upsert
      tags:
        - Immunization
      summary: Upsert an immunisation event using deterministic matching
      description: |-
        **POST** `[base]/Immunization/$upsert`

        Performs an upsert using a deterministic matching algorithm (NHI + occurrence date + vaccine code + indication):
        1. No match → create new event  
        2. Single match → update the matched event  
        3. Multiple matches → create new event (duplicate DQ violation raised)  
        4. Processing failure → reject the request

        **Required scope:** `system/Immunization.c` + `system/Immunization.u`

        **Responses:** `200 OK` (updated) or `201 Created` (inserted), `400`, `403`, `422`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/AirImmunization'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Immunization.c
            - system/Immunization.u
  /fhir/R4/Immunization/$process-message:
    post:
      operationId: acknowledge
      tags:
        - Messaging
      summary: Acknowledge an immunisation update notification
      description: >-
        **POST** `[base]/Immunization/$process-message`


        Processes an incoming FHIR message Bundle (type=message) to acknowledge a previously sent immunisation update
        notification. Updates an existing acknowledgement record from status `SENT` to `RECEIVED`.


        Request body: FHIR Bundle containing a MessageHeader with `response.code=ok` and an OperationOutcome entry.


        **Required scope:** `system/MessageHeader.u`


        **Responses:** `200 OK` (OperationOutcome), `401`, `403`, `422`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/FacilityID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/AcknowledgementBundle'
      responses:
        '200':
          description: Acknowledgement received
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/MessageHeader.u
  /fhir/R4/Patient/{NHI}:
    get:
      operationId: readPatient
      tags:
        - Patient
      summary: Read an ImmSoT consumer (patient)
      description: Read the current state of an ImmSoT consumer returned as a FHIR Patient.
      parameters:
        - $ref: '#/components/parameters/NHI'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
        - name: origin-nhi-version
          in: header
          required: false
          description: >-
            If provided, the API compares this NHI version against the stored version and performs a consumer sync if
            they differ.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirPatient'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Patient.r
  /fhir/R4/Patient/{NHI}/$update-state:
    post:
      operationId: updatePatientState
      tags:
        - Patient
      summary: Update a consumer's state and/or sub-status
      description: >-
        **POST** `[base]/Patient/{NHI}/$update-state`


        Updates a consumer's state and/or sub-status. Uses optimistic locking: the `version` parameter must match the
        server's current version, otherwise a `412 Precondition Failed` is returned.


        At least one of `state` or `subStatus` must be specified. Omitting one leaves it unchanged. Set `subStatus` to
        null to clear it.


        Request body: FHIR Parameters with `version` (integer), optionally `state` (string), optionally `subStatus`
        (string).


        **Required scope:** `system/Patient.u`


        **Responses:** `200 OK` (Patient), `400`, `403`, `404`, `412 Precondition Failed`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/NHI'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PatientState'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirPatient'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/Patient.u
  /fhir/R4/Patient/{NHI}/$reassign-schedules:
    post:
      operationId: reassignSchedules
      tags:
        - Patient
      summary: Reassign immunisation schedules for a consumer
      description: >-
        **POST** `[base]/Patient/{NHI}/$reassign-schedules`


        Reassigns a consumer's immunisation schedules. Cancels existing schedules (including manual matches and MQ
        records) and creates new ones based on the supplied onboarding date. The schedule repair service is then run to
        regenerate matches against the new plan.


        **Note:** Any manual match linked to a cancelled planned event is also unmatched.


        Request body: FHIR Parameters with `reassignDate` (date).


        **Required scope:** `air-admin/Patient.u` or `system/Patient.u`


        **Responses:** `200 OK` (Patient), `400`, `403`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/NHI'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/SourceSystemID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PatientReassign'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirPatient'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - air-admin/Patient.u
        - OAuth2:
            - system/Patient.u
  /fhir/R4/Patient/{NHI}/_history:
    get:
      operationId: patientHistory
      tags:
        - Patient
      summary: Retrieve all versions of an ImmSoT consumer
      description: >-
        **GET** `[base]/Patient/{NHI}/_history`


        Returns all versions of an ImmSoT consumer as a FHIR history Bundle. Each entry is a full Patient snapshot
        including modification audit metadata (`air-modified-by`, `air-modified-source-system`) in `meta.extension`.


        **Required scope:** `air-admin/Patient.r` or `system/Patient.r`


        **Responses:** `200 OK` (Bundle, type=history), `400`, `403`, `429`, `500`
      parameters:
        - $ref: '#/components/parameters/NHI'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/AirPatientBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - air-admin/Patient.r
        - OAuth2:
            - system/Patient.r
  /fhir/R4/CarePlan/$view:
    get:
      operationId: viewCarePlans
      tags:
        - CarePlan
      summary: Read a consumer's immunisation plan/schedule
      description: >-
        Returns a Bundle containing CarePlan, Immunization, and ImmunizationRecommendation resources for the specified
        consumer.
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/X-Correlation-ID'
        - $ref: '#/components/parameters/X-Api-Key'
        - $ref: '#/components/parameters/APIVersion'
        - name: nhi
          in: query
          required: true
          description: The NHI identifier of the patient/consumer.
          schema:
            type: string
            example: ZCZ1947
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CarePlanBundle'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - OAuth2:
            - system/CarePlan.s
components:
  parameters:
    ID:
      name: ID
      in: path
      description: The logical ImmSoT ID of the immunisation event.
      required: true
      schema:
        type: string
      example: e062d627-b565-48ae-9d7a-417db33ca64f
    NHI:
      name: NHI
      in: path
      description: The NHI number identifying the patient/consumer.
      required: true
      schema:
        type: string
      example: ZZZ7541
    UserID:
      name: UserID
      in: header
      description: Identifier of the end user who submitted the request (for audit).
      schema:
        type: string
      example: Lionel.Messi
    X-Correlation-ID:
      name: X-Correlation-ID
      in: header
      description: Correlation UUID for request tracing and logging. A UUID is recommended.
      schema:
        type: string
        format: uuid
    FacilityID:
      name: FacilityID
      in: header
      description: Identifier of the facility where the vaccination took place (HPI-F code).
      schema:
        type: string
      example: HSAPP0232
    SourceSystemID:
      name: SourceSystemID
      in: header
      description: Identifier of the system that sent the request (ApplicationID from HIP Integration Application list).
      schema:
        type: string
      example: ISM
    If-Match:
      name: If-Match
      in: header
      description: Current ETag (versionId) of the resource for optimistic concurrency control. Required for update.
      required: true
      schema:
        type: string
      example: '"3"'
    X-Api-Key:
      name: x-api-key
      in: header
      description: API Gateway key. Required for all requests.
      required: true
      schema:
        type: string
    APIVersion:
      name: APIVersion
      in: header
      description: API version selector. Omit or set to 1 for v1 behaviour; set to 2 for v2 behaviour.
      required: false
      schema:
        type: integer
        enum:
          - 1
          - 2
        default: 1
      example: 2
  responses:
    '200':
      description: OK
      headers:
        Location:
          $ref: '#/components/headers/Location'
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/AirImmunization'
    '201':
      description: Created
      headers:
        Location:
          $ref: '#/components/headers/Location'
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/AirImmunization'
    '400':
      description: Bad Request
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '401':
      description: Unauthorized
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '403':
      description: Forbidden
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '404':
      description: Not Found
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '412':
      description: Precondition Failed – version mismatch on optimistic lock
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '422':
      description: Unprocessable Entity – data validation failed
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '429':
      description: Too Many Requests
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    '500':
      description: Internal Server Error
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
  headers:
    Location:
      description: URL of the created/updated resource including version.
      schema:
        type: string
        format: uri
      example: https://air.api.digital.health.nz/fhir/R4/Immunization/A80B69D0-DF65-4323-A75B-5818438BCBCE/_history/4
    ETag:
      description: Version identifier of the resource.
      schema:
        type: string
      example: '"4"'
  schemas:
    AirImmunization:
      type: object
      description: FHIR Immunization resource conforming to the AIRImmunization profile.
      properties:
        resourceType:
          type: string
          enum:
            - Immunization
        id:
          type: string
          description: ImmSoT record ID (UUID).
        meta:
          type: object
          properties:
            versionId:
              type: string
              description: Version number.
            lastUpdated:
              type: string
              format: date-time
            profile:
              type: array
              items:
                type: string
            extension:
              $ref: '#/components/schemas/DQExtension'
        status:
          type: string
          enum:
            - completed
            - entered-in-error
            - not-done
        statusReason:
          $ref: '#/components/schemas/CodeableConcept'
        vaccineCode:
          $ref: '#/components/schemas/CodeableConcept'
        patient:
          $ref: '#/components/schemas/LogicalReference'
        occurrenceDateTime:
          type: string
          format: date-time
        location:
          type: object
          properties:
            reference:
              type: string
            identifier:
              $ref: '#/components/schemas/SimpleIdentifier'
        lotNumber:
          type: string
        expirationDate:
          type: string
          format: date
        site:
          $ref: '#/components/schemas/CodeableConcept'
        route:
          $ref: '#/components/schemas/CodeableConcept'
        reasonCode:
          $ref: '#/components/schemas/CodeableConceptArray'
        performer:
          type: array
          items:
            type: object
            properties:
              function:
                $ref: '#/components/schemas/CodeableConcept'
              actor:
                type: object
                properties:
                  reference:
                    type: string
                  identifier:
                    $ref: '#/components/schemas/SimpleIdentifier'
        protocolApplied:
          type: array
          maxItems: 1
          items:
            type: object
            properties:
              targetDisease:
                $ref: '#/components/schemas/CodeableConceptArray'
              doseNumberPositiveInt:
                type: integer
        extension:
          $ref: '#/components/schemas/AirExtension'
        contained:
          $ref: '#/components/schemas/Contained'
    AirPatient:
      type: object
      description: FHIR Patient resource conforming to the AIRPatient profile.
      properties:
        resourceType:
          type: string
          enum:
            - Patient
        id:
          type: string
          description: NHI number.
        meta:
          type: object
          properties:
            versionId:
              type: string
            lastUpdated:
              type: string
              format: date-time
            profile:
              type: array
              items:
                type: string
            extension:
              type: array
              items:
                type: object
        identifier:
          $ref: '#/components/schemas/IdentifierArray'
        extension:
          type: array
          items:
            type: object
        active:
          type: boolean
        deceasedBoolean:
          type: boolean
        link:
          type: array
          items:
            type: object
    AirImmunizationBundle:
      type: object
      description: FHIR Bundle containing AIR Immunization resources.
      properties:
        resourceType:
          type: string
          enum:
            - Bundle
        id:
          type: string
        meta:
          type: object
          properties:
            lastUpdated:
              type: string
              format: date-time
        type:
          type: string
          enum:
            - searchset
            - history
            - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            $ref: '#/components/schemas/AirImmunization'
    OrchestrationImmunizationBundle:
      type: object
      description: >-
        FHIR Bundle containing enriched immunisation data including Patient, Location, Practitioner, and Organization
        resources.
      properties:
        resourceType:
          type: string
          enum:
            - Bundle
        id:
          type: string
        meta:
          type: object
          properties:
            lastUpdated:
              type: string
              format: date-time
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
                description: 'One of: Immunization, Patient, Location, Organization, Practitioner.'
              search:
                type: object
                properties:
                  mode:
                    type: string
                    enum:
                      - match
                      - include
    AirPatientBundle:
      type: object
      description: FHIR Bundle containing AIR Patient history.
      properties:
        resourceType:
          type: string
          enum:
            - Bundle
        id:
          type: string
        type:
          type: string
          enum:
            - history
        total:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/AirPatient'
    AcknowledgementBundle:
      type: object
      description: FHIR Bundle (type=message) for immunisation update acknowledgement.
      properties:
        resourceType:
          type: string
          enum:
            - Bundle
        id:
          type: string
        type:
          type: string
          enum:
            - message
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
    CarePlanBundle:
      type: object
      description: >-
        FHIR Bundle containing CarePlan, Immunization, and ImmunizationRecommendation resources for a consumer's
        immunisation schedule.
      properties:
        resourceType:
          type: string
          enum:
            - Bundle
        type:
          type: string
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
                description: 'One of: CarePlan, Immunization, ImmunizationRecommendation.'
    OperationOutcome:
      type: object
      description: FHIR OperationOutcome resource.
      properties:
        resourceType:
          type: string
          enum:
            - OperationOutcome
        id:
          type: string
        text:
          type: object
          properties:
            status:
              type: string
            div:
              type: string
        issue:
          type: array
          items:
            type: object
            required:
              - severity
              - code
            properties:
              severity:
                type: string
                enum:
                  - fatal
                  - error
                  - warning
                  - information
              code:
                type: string
              diagnostics:
                type: string
              details:
                type: object
              expression:
                type: array
                items:
                  type: string
    ManualMatching:
      type: object
      description: Parameters for manual match/unmatch operations.
      properties:
        resourceType:
          type: string
          enum:
            - Parameters
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              valueString:
                type: string
              valueCoding:
                type: object
                properties:
                  code:
                    type: string
    PatientState:
      type: object
      description: Parameters for updating consumer state.
      properties:
        resourceType:
          type: string
          enum:
            - Parameters
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              valueInteger:
                type: integer
              valueString:
                type: string
      example:
        resourceType: Parameters
        parameter:
          - name: version
            valueInteger: 1
          - name: state
            valueString: OVERSEAS
          - name: subStatus
            valueString: UNDER_REVIEW
    PatientReassign:
      type: object
      description: Parameters for reassigning a consumer's immunisation schedules.
      properties:
        resourceType:
          type: string
          enum:
            - Parameters
        parameter:
          type: array
          maxItems: 1
          items:
            type: object
            properties:
              name:
                type: string
                enum:
                  - reassignDate
              valueDate:
                type: string
                format: date
      example:
        resourceType: Parameters
        parameter:
          - name: reassignDate
            valueDate: '2024-04-01'
    BulkUpdateInputParameter:
      type: object
      description: FHIR Parameters resource for bulk-update input.
      properties:
        resourceType:
          type: string
          enum:
            - Parameters
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum:
                  - create
                  - upsert
              resource:
                $ref: '#/components/schemas/AirImmunization'
    BulkUpdateOutputParameter:
      type: object
      description: FHIR Parameters resource for bulk-update output.
      properties:
        resourceType:
          type: string
          enum:
            - Parameters
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum:
                  - created
                  - updated
              resource:
                $ref: '#/components/schemas/AirImmunization'
    LogicalReference:
      type: object
      description: FHIR logical reference. Use identifier (system + value) rather than a literal reference URL where possible.
      properties:
        reference:
          type: string
          example: https://api.hip.digital.health.nz/fhir/nhi/v1/Patient/ZZZ7541
        identifier:
          $ref: '#/components/schemas/SimpleIdentifier'
    SimpleIdentifier:
      type: object
      properties:
        system:
          type: string
          example: https://standards.digital.health.nz/ns/nhi-id
        value:
          type: string
          example: ZZZ7541
    IdentifierArray:
      type: array
      items:
        type: object
        properties:
          use:
            type: string
            enum:
              - official
              - old
              - temp
              - secondary
          system:
            type: string
          value:
            type: string
    CodeableConcept:
      type: object
      properties:
        coding:
          type: array
          items:
            type: object
            properties:
              system:
                type: string
              version:
                type: string
              code:
                type: string
              display:
                type: string
        text:
          type: string
    CodeableConceptArray:
      type: array
      items:
        $ref: '#/components/schemas/CodeableConcept'
    AirExtension:
      type: array
      description: FHIR extensions used by the AIR profile.
      items:
        type: object
        properties:
          url:
            type: string
          valueReference:
            type: object
            properties:
              reference:
                type: string
          valueCodeableConcept:
            $ref: '#/components/schemas/CodeableConcept'
          valueString:
            type: string
          valueDate:
            type: string
            format: date
          valueBoolean:
            type: boolean
          extension:
            type: array
            items:
              type: object
    DQExtension:
      type: array
      description: Data Quality assessment extension in resource meta.
      items:
        type: object
        properties:
          url:
            type: string
            example: https://standards.digital.health.nz/fhir/air/StructureDefinition/air-data-quality-assessment
          extension:
            type: array
            items:
              type: object
              properties:
                url:
                  type: string
                valueInteger:
                  type: integer
                valueString:
                  type: string
                valueBoolean:
                  type: boolean
                valueDateTime:
                  type: string
                extension:
                  type: array
                  items:
                    type: object
    Contained:
      type: array
      description: Contained resources (RelatedPerson, Observation).
      items:
        type: object
        properties:
          resourceType:
            type: string
          id:
            type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'OAuth2 client credentials. Obtain a bearer token then include as `Authorization: Bearer <token>`.'
      flows:
        clientCredentials:
          tokenUrl: https://auth.integration.covid19.health.nz/oauth2/token
          scopes:
            system/Immunization.c: Create immunisation events
            system/Immunization.r: Read immunisation events
            system/Immunization.u: Update immunisation events
            system/Immunization.s: Search immunisation events
            system/Immunization.crus: Full create, read, update and search
            air-admin/Immunization.c: Create immunisation events (admin)
            air-admin/Immunization.r: Read immunisation events (admin)
            air-admin/Immunization.s: Search immunisation events (admin)
            air-admin/Immunization.u: Update immunisation events (admin)
            system/Patient.r: Read consumer records
            system/Patient.u: Update consumer records
            air-admin/Patient.r: Read consumer records (admin)
            air-admin/Patient.u: Update consumer records (admin)
            system/CarePlan.s: Search/view care plans
            system/MessageHeader.u: Process notification acknowledgements
    ApiKeyAuth:
      type: apiKey
      description: API Gateway key. Pass in the `x-api-key` header.
      name: x-api-key
      in: header
tags:
  - name: Immunization
    description: Immunisation event CRUD, search, history, and custom operations.
  - name: Patient
    description: ImmSoT consumer (patient) read, state update, schedule reassignment, and history.
  - name: CarePlan
    description: Consumer immunisation plan/schedule view.
  - name: Messaging
    description: FHIR messaging – notification acknowledgement.
